color1 = #594F4F
color2 = #547980
color3 = #45ADA8
color4 = #9DE0AD
color5 = #E5FCC2

*
  box-sizing: border-box

body
  background: white
  margin:0
  padding:0
  font-family: Roboto, sans-serif
  font-weight:300
  -webkit-font-smoothing: antialiased
  -webkit-line-break: after-white-space
  
.jumbotron
  margin:100px 0