node_modules
jspm_packages
appengine-generated/

# Logs
logs
*.log
npm-debug.log*

.npm

# Compiled css
static/css/*/

# JSPM packages
static/src/lib

# Python packages
lib

# Generated Build
dist

static/src/main-bundle.js
static/src/main-bundle.js.map