<!doctype html>
<head>
  <meta charset="UTF-8">
  <title>Static BSPM Boilerplate</title>
  
  <!-- temporary -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,100' rel='stylesheet' type='text/css'>
  
  <!-- Stylus generated CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">


  {% if isDev %}
    <!-- example of how things can be included for development-->
  {% endif %}

</head>

<body>
  
  <div class="container">
    <div class="jumbotron">
      <h1>Hello, world.</h1>
      <p>You're ready to get started!</p>
    </div>
  </div>


  <script src="{{ url_for('static', filename='src/lib/system.js') }}"></script>
  <script src="{{ url_for('static', filename='config.js') }}"></script>
  <script>
    System.import("{{ url_for('static', filename='src/main.js') }}");
  </script>

</body>
</html>